@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --background-color: #EDEDED;
    --secondary-color: #C4C4C4;
    --form-color: #fff;
    --dark-background: #18181B;
    --dark-secondary: #313131;
    --blue:#33A9AC;
    --dark-orange:#F86041;
    --light-orange:#FFA646;
    --body-text: #000;
    --text-in-dark: #fff;

    --body-font: 'Lato', 'Helvetica', sans-serif;
    
    /*------ FONT SIZES  ------*/
    --h1-font-size: 1.5rem; /*24px*/
    --h3-font-size: 1.125rem; /*18px*/
    --normal-font-size: 1rem; /*16px*/
    
    /*----- ELEMENTS SIZES  -----*/
    --header-height: 3.25rem;

    --button-height: 2.5rem; 
    --button-width: 6.25rem;

    --section-name-img: 1.25rem;
    --section-name-div: 6.75rem;
    --home-img: 18rem;

    /*------ BORDER RDS ------*/
    --default-radius: .5rem; /*8px*/

    /*------ MARGINS ------*/
    --small-margin: .5rem; /*8px*/
    --big-margin: .75rem; /*12px*/

    /*------- Z-INDEX -------*/
    --index-modal: 1000;
}

body.dark-mode{
    --background-color: #18181B;
    --secondary-color: #313131;
    --form-color: #313131;
    --body-text: #fff;

    transition: 0.3s;
}

/*-------- TO LARGE SCREEN --------*/
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.75rem; /*48px*/
        --h3-font-size: 1.75rem; /*32px*/
        --normal-font-size: 1.25rem; /*24px*/

        --button-height: 2.75rem;
        --button-width: 9rem;

        --default-radius: .625rem; /*10px*/

        --small-margin: .5rem; /*8px*/
        --big-margin: 1rem; /*16px*/

        --section-name-img: 1.625rem;
        --section-name-div: 12.5rem;
        --home-img: 25rem;
    }
}

/*-------------- BASE --------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:var(--body-text);
    background-color: var(--background-color);
    
    transition: .3s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--body-text);
}

main {
    width: 70%;
    margin: auto;
}

.section {
    padding: 5rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---------------------------------------------------------------------------------*/
/*-------------- HEADER --------------*/
  
.header {
    width: 100%;
    height: calc(var(--header-height) + 1rem);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: var(--big-margin) auto var(--small-margin) auto;
    background-color: var(--background-color);
    
    transition: .3s;
  }

/*--------------- NAV ---------------*/
.nav {
    width: 95%;
    height: var(--header-height);
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

ul.nav-list {
    display: flex;
}

.nav-buttons {
    display: flex;
}

.nav-close, .menu-toggle {
    display: none;
}

@media screen and (max-width: 767px){
    .nav {
        justify-content: center;
    }
    .nav-menu {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        padding: 1.5rem 1.5rem 2rem;
        background-color: var(--background-color);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
        border-radius: var(--default-radius);
    }

    ul.nav-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .menu-and-theme {
        position: relative;

    }

    .nav-close, .menu-toggle {
        display: block;
        position: absolute;
        font-size: 1.5rem;
        top: .4rem;
        right: 2rem;
    }
    
    .nav-close:hover, .menu-toggle:hover {
        color: var(--blue);
    }

    .menu-open {
        z-index: var(--index-modal);
        top: 0;
    }

    .nav-buttons {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    text-decoration: none;
    margin: 0 6px 0 6px;
    font: var(--normal-font-size) var(--body-font);
    color: var(--body-text);
}

.nav-item a:hover {
    text-decoration: underline;
    transition: .3s;
}

/*--------------- BUTTONS ---------------*/
.button {
    width: var(--button-width);
    height: var(--button-height);
    border: none;
    border-radius: var(--default-radius);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--blue);

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--background-color);

    transition-duration: .5s;
}

.button:hover {
    background-color: var(--dark-orange);
}

.menu-and-theme {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: .5rem;
}

.change-theme {
    font-size: 1.25rem;
}

.change-theme:hover {
    color: var(--blue);
}

/*---------------  HOME  ---------------*/
#home {
    height: 85vh;
    flex-wrap: nowrap;
}

.home-content {
    display: block;
    width: 600px;
    margin: auto;
    padding-top: 10px;
    font-family: var(--body-font);
    text-align: center;
}

.home-content h1 {
    font-size: var(--h1-font-size);
}

.subtitle {
    margin-top: var(--big-margin);
    margin-bottom: var(--big-margin);
    font-size: var(--normal-font-size);
    color: var(--blue);
}

.home-content h3 {
    font-size: var(--h3-font-size);
}

.home-social {
    display: none;
    margin-top: var(--small-margin);
    margin-bottom: var(--small-margin);
}

#home img {
    width: var(--home-img);
    margin: auto;
}

.scroll-div {
    width: 3rem;
    margin: auto;
}

.scroll-down i {
    display: block;
    font-size: 3rem;
    text-align: center;
    color: var(--dark-orange);
}

.scroll-down i:hover {
    color: #f86041a1;
}

@media screen and (max-width: 767px) {
    #home {
        height: 85vh;
        flex-wrap: wrap-reverse;
        margin-top: 1rem;
    }
    .home-social {
        display: block;
        font-size: var(--h1-font-size);
    }
}

/*---------------  SECTIONS NAME  ---------------*/
.section-name {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: var(--section-name-div);
}

.section-name h1 {
    font-size: var(--h1-font-size);
}

.section-name img{
    width: var(--section-name-img);
}

/*---------------  ABOUT  ---------------*/

#about {
    display: block;
}

#about p {
    margin-top: .5rem;
    margin-left: .5rem;
}

@media screen and (max-width: 968px) {
    #about p {
        margin-top: .625rem;
    }
}

/*---------------  SKILLS  ---------------*/
#skills {
    display: block;
}

.skills-content {
    margin-top: var(--small-margin);
    margin-left: var(--small-margin);
    display: flex;
    justify-content: space-between;
}

.skills-list {
    width: 48%;
}

.skills-show {
    margin-top: var(--small-margin);
    width: 100%;
}

.skill {
    margin-bottom: var(--small-margin);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--body-text);
}

.skill-title {
    margin-left: var(--big-margin);
}

.skill-bar {
    position: relative;
    width: 100%;
    height: 24px;
    border-radius: 12px;
    background-color: var(--secondary-color) ;
}

.skill-percentage {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 12px;
    background-color: var(--blue) ;
}

.skill-percentage.bg-blue {
    background-color: var(--blue);
}
.skill-percentage.bg-dark-orange {
    background-color: var(--dark-orange);
}
.skill-percentage.bg-light-orange {
    background-color: var(--light-orange);
}

@media screen and (max-width: 767px) {
    .skills-content {
        display: block;
    }

    .skills-content > div:first-child {
        margin-bottom: var(--big-margin);
    }

    .skills-list {
        width: 100%;
    }

    .skills-show {
        display: none;
    }
    .skills-show.open {
        display: block;
    }

    .skills:hover {
        color: var(--blue);
    }
}

/*---------------  PROJECTS  ---------------*/
#projects {
    display: block;
}

.swiper-container {
    margin-top: var(--small-margin);
}

.swiper {
    width: 80%;
    height: 50vh;
  }

.swiper-slide {
    height: 14rem;
    width: 24rem;
    background-color: transparent;
    border-radius: var(--default-radius);
    padding: 1.5rem;
    text-align: center;
}

.project-img {
    width: 10rem;
    object-fit: contain;
    border-radius: 1rem;
    padding: var(--small-margin);
}

.project-data {
    padding: var(--small-margin);
}

#swiper-button-prev::after,  
#swiper-button-next::after{
    content: '';
}

#swiper-button-prev i,  
#swiper-button-next i {
    color: var(--blue);
    font-size: var(--h1-font-size);
}

#swiper-button-prev {
    left: 0rem;
    z-index: 100;
}

#swiper-button-next {
    right: 0rem;
    z-index: 100;
}

/*---------------  FORM  ---------------*/
#contact {
    display: block;
}

.contatos {
    margin: var(--small-margin) 0 1.25rem var(--small-margin);
}

.contatos p > i {
    color: var(--blue);
    margin-right: var(--big-margin);
}

form input, form textarea {
    width: 80%;
    height: var(--button-height);
    border: none;
    border-radius: var(--default-radius);
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
    padding-left: 16px;
    margin-bottom: var(--big-margin);

    background-color: var(--form-color);
    font: var(--normal-font-size) var(--body-font);
}
form textarea {
    height: 250px;
    padding: 16px 0 0 16px;
}
  
form textarea::placeholder, input::placeholder {
    color: var(--dark-orange);  
}

form textarea:focus, input:focus {
    color: var(--dark-orange);
}

.social-media{
    position: absolute;
    right: 0rem;
}

.social-media a {
    width: 3rem;
    height: 3rem;
    display: flex;
    font-size: 2.1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: var(--default-radius);
    color: var(--text-in-dark);
    margin-bottom: var(--small-margin);
}

@media screen and (max-width: 767px) {
    form textarea, form input, form .button {
        width: 100%;
    }
}